<div class="main-page">
  <h1>Welcome to OhMyFlix!</h1>

  <!-- Show when not logged in-->
  <button *ngIf="!isLoggedIn()" mat-raised-button color="primary" (click)="openUserRegistrationDialog()">
    Sign Up
  </button>

  <button *ngIf="!isLoggedIn()" mat-raised-button color="accent" (click)="openUserLoginDialog()">
    Login
  </button>

  <!-- Show when logged in -->
  <button *ngIf="isLoggedIn()" mat-raised-button color="warn" (click)="logout()">
    Logout
  </button>

</div>

<router-outlet></router-outlet>

